{% load form_extras %}
{% load i18n %}

{% with nsteps=3 %}
<div class="sidebar-inner">
    <a href="javascript:;" class="close cancelBtn small hidden-xs">×</a>
    <h3>{% trans "Report problem with a tree" %}</h3>

    ziom
    <div class="add-step-container" id="report-tree-problem-container">
        {% include "treemap/partials/step_set_location.html" with first=True feature_name="problem" %}
        <div class="add-step">
            <div class="add-step-header">
                {% trans "Add species and additional info" %}
                <a href="javascript:;" class="close cancelBtn small visible-xs-block">×</a>
            </div>
            <div class="add-step-content">
                <form id="report-tree-problem-form" onsubmit="return false;">

                    Typ problemu
                    <input type="text" name="treeproblem.treeproblem" />
                    <input type="text" name="treeproblem.description" />

                    {% create "add-tree-species" from "Tree.species" in request.instance withtemplate "treemap/field/species_div.html" %}
                    {% trans "Trunk Diameter" as diameter %}
                    {% create diameter from "Tree.diameter" in request.instance withtemplate "treemap/field/diameter_div.html" %}

                    {% for label, identifier in fields_for_add_tree %}
                    {% create label from identifier in request.instance withtemplate "treemap/field/div.html" %}
                    {% endfor %}

                    {% include 'treemap/partials/hidden_address.html' with object_name='plot' %}
                </form>
            </div>
            {% include 'treemap/partials/step_controls.html' %}
        </div>
        <div class="add-step">
            <div class="add-step-header">
                {% trans "Finalize this tree" %}
                <a href="javascript:;" class="close cancelBtn small visible-xs-block">×</a>
            </div>
            <div class="add-step-content">
                <h3 class="summaryHead"></h3>
                <h6 class="summarySubhead"></h6>
                <h4 class="summaryAddress"></h4>
                <h6>{% trans "Nearby Address" %}</h6>
                <hr/>
                <div>
                    <input type="radio" name="addFeatureOptions" value="close" id="addtree-done" checked
                           data-event-category="add-tree" data-event-action="done-close" /><label for="addtree-done">
                        {% trans "I'm done!" %}
                    </label>
                </div>
            </div>
            {% include 'treemap/partials/step_controls.html' with last=True feature_name="tree" %}
        </div>
    </div>
</div>
{% endwith %}
