{% load i18n %}
{% load l10n %}

{% if request.instance_supports_ecobenefits %}
    <div {% if not hidecounts %}id="benefit-values"{% endif %} class="benefit-values panel-inner">
        <a class="sidebar-panel-toggle visible-xs-block"
           id="{% if hidecounts %}feature-panel-toggle{% else %}eco-panel-toggle{% endif %}">
            <i class="icon-right-open"></i>
            <i class="icon-cancel"></i>
        </a>
            {% include "treemap/partials/benefit_value_row.html" with benefit=benefits.totals icon='gauge' total=True %}
            {% if not hide_summary and benefits %}
                <div class="benefit-value-title">{% trans "Tree Benefits"%}</div>
            {% endif %}
            {% include "treemap/partials/benefit_value_row.html" with benefit=benefits.O3 icon='cloud' %}
            {% include "treemap/partials/benefit_value_row.html" with benefit=benefits.NO2 icon='beaker' %}
            {% include "treemap/partials/benefit_value_row.html" with benefit=benefits.SO2 icon='air' %}
            {% include "treemap/partials/benefit_value_row.html" with benefit=benefits.PM25 icon='light-down' %}

        {% with resource_benefits=benefits.resource %}
            {% if not hide_summary and request.instance.has_resources and resource_benefits %}
                <div class="benefit-value-title">{{ term.Resource.singular }} {% trans "Benefits" %}</div>
            {% endif %}
            {% include "treemap/partials/benefit_value_row.html" with benefit=resource_benefits.stormwater icon='tint' %}
            {% include "treemap/partials/benefit_value_row.html" with benefit=resource_benefits.runoff_reduced icon='tint' %}
            {% include "treemap/partials/benefit_value_row.html" with benefit=resource_benefits.usage_reduced icon='tint' %}
        {% endwith %}

        {% if not hide_summary and not hidecounts %}
            <div class="benefit-tree-count">
                    {% blocktrans with total=total_trees used=used_trees %}
                        Based on {{ used }} out of {{ total }} total trees{% endblocktrans %}.
            </div>
        {% endif %}
    </div>
{% endif %}
{% if not hidecounts %}
    <div id="tree-and-planting-site-counts">
        {% localize on %}
            <span>{{ n_trees }}</span> {{ tree_count_label }}
            <span>{{ n_empty_plots }}</span> {{ empty_plot_count_label }}
            {% if has_resources %}
                <span>{{ n_resources }}</span>
                {% if n_resources == 1 %}
                    {{ term.Resource.singular.lower }}
                {% else %}
                    {{ term.Resource.plural.lower }}
                {% endif %}
            {% endif %}
        {% endlocalize %}
    </div>

    {% if single_result %}
        {% localize off %}
            <div id="single-result"
                 data-id="{{ single_result.id }}"
                 data-lat="{{ single_result.lat }}"
                 data-lon="{{ single_result.lon }}"
            ></div>
        {% endlocalize %}
    {% endif %}
{% endif %}
